[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "~=2021.10.8"
dnspython = "~=2.2.0"
fastapi = "~=0.73.0"
gunicorn = "~=20.1.0"
pandas = "~=1.4.1"
pymongo = {version = "~=4.0.1", extras = ["srv"]}
python-dotenv = "~=0.19.2"
python-multipart = "~=0.0.5"
requests = "~=2.27.1"
uvicorn = {version = "~=0.17.4", extras = ["standard"]}

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
