altair==4.2.0
anyio==3.6.1
asgiref==3.5.2
attrs==21.4.0
blis==0.7.8
catalogue==2.0.7
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.3
cymem==2.0.6
dnspython==2.2.1
email-validator==1.2.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
entrypoints==0.4
fastapi==0.73.0
gunicorn==20.1.0
h11==0.13.0
httptools==0.4.0
idna==3.3
Jinja2==3.1.2
jsonschema==4.7.2
langcodes==3.3.0
MarkupSafe==2.1.1
murmurhash==1.0.7
numpy==1.23.1
packaging==21.3
pandas==1.4.3
pathy==0.6.2
preshed==3.0.6
pydantic[email]==1.9.1
pymongo[srv]==4.0.2
pyparsing==3.0.9
pyrsistent==0.18.1
python-dateutil==2.8.2
python-dotenv==0.19.2
python-multipart==0.0.5
pytz==2022.1
PyYAML==6.0
requests==2.27.1
six==1.16.0
smart-open==5.2.1
sniffio==1.2.0
spacy==3.4.0
spacy-legacy==3.0.9
spacy-loggers==1.0.2
srsly==2.4.3
starlette==0.17.1
thinc==8.1.0
toolz==0.12.0
tqdm==4.64.0
typer==0.4.2
typing_extensions==4.3.0
urllib3==1.26.10
uvicorn[standard]==0.17.6
uvloop==0.16.0
vaderSentiment==3.3.2
wasabi==0.9.1
watchgod==0.8.2
websockets==10.3
